[Unit]
Description=Publish Service

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/www/Publish
ExecStart=/usr/local/bin/hub

[Install]
WantedBy=multi-user.target
