[
  { "name": "full",                      "type": "group",   "depends": "dev games office insync rpi-imager" },
  { "name": "dev",                       "type": "group",   "depends": "geany gcc git make code mono gh dotnet" },
  { "name": "games",                     "type": "group",   "depends": "steam gnome-games" },  
  { "name": "office",                    "type": "group",   "depends": "calibre naps2 boomaga okular" },
  { "name": "graphics",                  "type": "group",   "depends": "gimp inkscape" },        
  { "name": "video",                     "type": "group",   "depends": "handbrake makemkv vlc" },      
  { "name": "latex",                     "type": "group",   "depends": "texlive texlive-base texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended texlive-fonts-extra" },
  { "name": "java",                      "type": "apt",     "alias":   "openjdk-17-jre" },
  { "name": "dotnet",                    "type": "apt",     "alias":   "dotnet-sdk-8.0" },     
  { "name": "lato",                      "type": "apt",     "alias":   "fonts-lato" },       
  { "name": "jmri",                      "type": "builtin", "depends": "java" },  
  { "name": "go",                        "type": "builtin"  },   
  { "name": "geany",                     "type": "apt"      },
  { "name": "okular",                    "type": "apt"      },
  { "name": "gcc",                       "type": "apt"      },
  { "name": "git",                       "type": "builtin"  },
  { "name": "make",                      "type": "apt"      },
  { "name": "curl",                      "type": "apt"      },
  { "name": "boomaga",                   "type": "apt"      },
  { "name": "gnome-games",               "type": "apt"      },  
  { "name": "strawberry",                "type": "apt"      },    
  { "name": "clamav",                    "type": "apt"      },      
  { "name": "rclone",                    "type": "apt"      },      
  { "name": "intltool",                  "type": "apt",     "list": "ignore" },
  { "name": "libgtk2.0-bin",             "type": "apt",     "list": "ignore" },
  { "name": "texlive",                   "type": "apt",     "list": "ignore" },  
  { "name": "texlive-base",              "type": "apt",     "list": "ignore" },    
  { "name": "texlive-latex-recommended", "type": "apt",     "list": "ignore" },    
  { "name": "texlive-latex-extra",       "type": "apt",     "list": "ignore" },    
  { "name": "texlive-fonts-recommended", "type": "apt",     "list": "ignore" },    
  { "name": "texlive-fonts-extra",       "type": "apt",     "list": "ignore" },        
  { "name": "pandoc",                    "type": "github",  "repo": "jgm/pandoc",          "start": "pandoc",        "stem": "amd64.deb" },
  { "name": "naps2",                     "type": "github",  "repo": "cyanfish/naps2",      "start": "naps2",         "stem": "x64.deb" },
  { "name": "hugo",                      "type": "github",  "repo": "gohugoio/hugo",       "start": "hugo_0",        "stem": "amd64.deb" },
  { "name": "navidrome",                 "type": "builtin", "repo": "navidrome/navidrome", "start": "navidrome",     "stem": "amd64.tar.gz" }, 
  { "name": "balenaetcher",              "type": "github",  "repo": "balena-io/etcher",    "start": "balena-etcher", "stem": "amd64.deb" },   
  { "name": "calibre",                   "type": "flatpak", "alias": "com.calibre_ebook.calibre" },
  { "name": "inkscape",                  "type": "flatpak", "alias": "org.inkscape.Inkscape" },
  { "name": "gimp",                      "type": "flatpak", "alias": "org.gimp.GIMP" },
  { "name": "franz",                     "type": "flatpak", "alias": "com.meetfranz.Franz", "list": "ignore" },
  { "name": "vlc",                       "type": "flatpak", "alias": "org.videolan.VLC" },
  { "name": "makemkv",                   "type": "flatpak", "alias": "com.makemkv.MakeMKV" },
  { "name": "handbrake",                 "type": "flatpak", "alias": "fr.handbrake.ghb" },
  { "name": "rpi-imager",                "type": "flatpak", "alias": "org.raspberrypi.rpi-imager" },
  { "name": "flameshot",                 "type": "flatpak", "alias": "org.flameshot.Flameshot" },
  { "name": "code",                      "type": "flatpak", "alias": "com.visualstudio.code" },
  { "name": "homebank",                  "type": "flatpak", "alias": "fr.free.Homebank" },  
  { "name": "libcddb",                   "type": "source",  "url": "http://prdownloads.sourceforge.net/libcddb/libcddb-1.3.2.tar.bz2", "list": "ignore" },
  { "name": "cdparanoia",                "type": "source",  "url": "http://downloads.xiph.org/releases/cdparanoia/cdparanoia-III-10.2.src.tgz", "list": "ignore" },
  { "name": "lame",                      "type": "source",  "url": "https://sourceforge.net/projects/lame/files/lame/3.100/lame-3.100.tar.gz/download", "list": "ignore" },
  { "name": "asunder",                   "type": "source",  "url": "http://littlesvr.ca/asunder/releases/asunder-3.0.tar.bz2", "depends": "intltool libgtk2.0-bin libcddb cdparanoia lame", "list": "ignore" },
  { "name": "insync",                    "type": "debian",  "url": "https://cdn.insynchq.com/builds/linux/3.9.6.60027/insync_3.9.6.60027-noble_amd64.deb", "list": "ignore" },   
  { "name": "steam",                     "type": "debian",  "url": "https://cdn.akamai.steamstatic.com/client/installer/steam.deb", "depends": "curl", "list": "ignore" }, 
  { "name": "mono",                      "type": "builtin"  },   
  { "name": "docker",                    "type": "builtin"  },     
  { "name": "gh",                        "type": "builtin"  }     
]
